.collapse-box__header {
  padding: 0.625em 1.875em 0.625em 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: #e4e4e4;
  font-weight: 600;
  cursor: pointer;
}

.collapse-box__title {
  font-size: 1.125em;
}

.collapse-box__toggler {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

.collapse-box__body {
  padding: 1.25em 0.625em;
}

.collapse-box.is-collapsed .collapse-box__body {
  display: none;
}

@media (min-width: 960px) {
  .collapse-box__header {
    padding: 0.75em 1.875em 0.75em 1.25em;
  }
}
