.app-header {
  padding: 1.25em 0.625em;
  background-color: #087244;
}

.app-header__logo {
  width: 10em;
  height: 100%;
  margin-bottom: 1.25em;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
}

@media (min-width: 960px) {
  .app-header {
    padding: 0;
  }
  .app-header__logo {
    margin: 0;
  }
}
