body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Bootstrap dropdown arrow fix */
select.form-control {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAl0lEQVRoge3RMQrCQBBG4adXUPCYYmW08cypDWiT6USyMZPdyPtgui3ez4IkSZIkaRsuQA+8kq4HzlnxJ2BIjI8bgOPUqH3hiF3h++bcyf+BW/aIa2L8Izs+c8Rq8WHJEavHhyVGVIsPv4yoHh/mjGgmPpSMaC4+TBnRbHz4NqL5+PBpxGbiQwc8x+sqt8x2GE+SJEn6Q2+A4tm8r9W5iQAAAABJRU5ErkJggg==);
  background-repeat: no-repeat, repeat;
  background-position: right 0.875em top 50%, 0 0;
  background-size: 1em auto, 100%;
}

.btn {
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  font-weight: 600;
}

.app-main {
  padding: 2.5em 0;
}

.sticky {
  position: sticky;
  top: 1.25em;
}

.drop-shadow {
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.round-borders {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bordered {
  border: 1px solid #979797;
}

.text-green {
  color: #087244;
}

/* CART TOTAL */

.cart-subtotal {
  padding: 1.25em 0;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #979797;
  border-right: 0;
  border-left: 0;
}

.cart-subtotal__label,
.cart-subtotal__price {
  font-weight: bold;
}

.cart-subtotal__price {
  margin-left: 1.125em;
}
